
#header { margin-top: 0px; margin-bottom: 10px;}
#logo {  }
#login { margin: 100px auto; width: 400px; height: 150px; background: url(images/login.png); padding: 150px 60px 0 0; text-align: right; }
#login_err { margin-top: 10px; color: red; }

#login_box { text-align: right; font-size: 1.2em; }
#login_box a { font-size: 0.9em; }

.div_sistema ul
{
    background:  url(images/wrapper-bg.png) repeat-x; 
	padding: 2px 0 10px 0;
}

.div_sistema ul li
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFF;
	line-height:20px;
	display:inline;
	text-indent:8px;
}

.div_sistema ul li a
{
	text-decoration:none;
	color:#FFF;
}

.div_sistema ul li a:hover
{
	background-color:#FFF;
	color:#000;
}

/*
*/
#menu { margin-top: 0px; }
#menu ul { border-bottom: 3px solid #CCC; display: block; }
#menu ul li { display: inline-block; vertical-align: bottom; margin: -3px; padding: 0; position: relative; }
#menu a { border-bottom: 3px solid #CCC; text-decoration: none; padding: 5px 25px; margin: 0; display: inline-block; }
#menu a:hover { border-bottom: 3px solid #FF3300; color: #FF3300; }
#menu .active { border-bottom: 3px solid #FF3300; }
#menu .submenu { display: none; position: absolute; top: 17px; left: -28px; z-index: 15; padding: 16px 0 0 0; width: 210px; }
#menu .submenu li { margin-right: 0; display: block; background-color: #f1f1f1; padding: 0; border: none; }
#menu .submenu a { display: block; padding: 5px 5px; text-align: left; color: #999; }
#menu .submenu a:hover { background: #FF3300; color: #FFF; }
#menu ul li:hover > .submenu { display: block; }
#menu_items { display: block; }
/*#tiny_navigation { display: none; padding: 5px 20px; background: #F7F7F7 url('images/tiny_navigation.gif') 95% 50% no-repeat; text-align: left; border: 1px solid #E9E9E9; color: #ACACAC; font-size: 12px; font-weight: bold; cursor: pointer; }*/
/*#tiny_navigation:hover { background: #CC3300 url('images/tiny_navigation_hover.gif') 95% 50% no-repeat; color: #FFF; }*/
/*
*/
#accesos { }
#accesos a { text-decoration: none; }
#accesos a:visited { text-decoration: none; color: #CC3300; }
.item { border: 1px solid #CCC; padding: 20px; background-color: #FFF; margin-top: 30px; border-radius: 10px; }
.item:hover { border: 1px solid #CC3300; }
.item h2 { color: #444; margin-bottom: 10px; }
.item p { padding-left: 15px; color: #444; }
.item span { color: #CC3300; }



.estilo_tabla { padding: 0px; margin: 10px auto; }
.estilo_tabla table { border-spacing: 0; border-top: 1px solid #E8EDFF; width: 90%; font-size:8pt; background-color:#FFFFFF;}
.estilo_tabla table tr th { background: #10689b; border: 1px solid #fff; padding: .3em; color: #FFF; }
.estilo_tabla table tr:hover { background-color: #D8DFFB; }
.estilo_tabla table tr td { padding: 3px; border: 1px solid #AAAAAA; }
.estilo_tabla table tr .label { font-weight: bold; vertical-align: top; padding-left: 10px; width: 200px; }
.estilo_tabla table tr:nth-child(odd) { background-color: #E8EDFF; }
.estilo_tabla table tr:nth-child(odd) td { border-left: 1px solid #AAAAAA; }
.estilo_tabla table tr:nth-child(odd):hover { background-color: #D8DFFB; }
.estilo_tabla .precio { font-size: 1.1em; font-weight: bold; }


/*ESTILO PARA LA EDICION DE TABLA*/
#editor{
background-color: #ffffff;
width:80%;
height:200px;
border: 1px solid #666666;
font-family: Palatino Linotype;
font-size: 100%;
text-align:left;
color: #000000;
padding-left:1%;
padding-top:1%;
border-style: double;
border-color: #666666;
overflow: scroll;
scrollbar-face-color: #c7c7c7;
scrollbar-highlight-color: #f4f4f4;
scrollbar-shadow-color: #dfdfdf;
scrollbar-3dlight-color: #dfdfdf;
scrollbar-arrow-color: #dfdfdf;
scrollbar-darkshadow-color: #dfdfdf;
border-bottom: 1px double #666666
}
#copiar{
width:85%;
margin-left:15%
}
.table{
border:1px solid #000000;
width:300px;
}

.border{
border:1px solid #dbdfe6;}

.icon {
	float:left;
	width:12px; 
	height:12px;
	margin:0px 0px; 
	cursor:pointer;
}

.icon_edit {
	float:right; 
	width:15px; 
	height:15px; 
	display:none; 
	cursor:pointer;
}

.icon_save {
	float:right;
	width:15px; 
	height:15px; 
	cursor:pointer;
}

.icon_close {
	float:right;
	width:15px; 
	height:15px; 
	cursor:pointer;
}

.icon_delete {
	float:right; 
	width:15px; 
	height:15px; 
	display:none; 
	cursor:pointer;
}

.icon_delete_visible {
	float:right; 
	width:15px; 
	height:15px; 
	cursor:pointer;
}

.icon_delete_image {
	width:15px; 
	height:15px; 
	cursor:pointer;
	position:absolute;
	top:1px;
	left:45px;
}

.clear_mayor {
	height: 10px;
	width:100%;
	clear:both;
}

ul.lista_descripcion {
    /*list-style: outside circle url(images/flecha.png);*/
    /*list-style-image: url(images/flecha.png);*/
    list-style: disc inside;
    margin-left: 20px; 
    width: 70%;
}

ul.lista_descripcion li {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size:12pt;
    color: #10689b;
}

ul.lista_descripcion li a {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size:9pt;
    color: #444;
    font-family:arial;
    text-decoration:none;
}

ul.lista_incluye {
    /*list-style: outside circle url(images/flecha.png);*/
    /*list-style-image: url(images/flecha.png);*/
    list-style: disc inside;
    margin-top:0px;
    margin-bottom:10px;
    margin-left: 20px; 
    width: 90%;
}

ul.lista_incluye li {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size:9pt;
    line-height: 1;
    color: #10689b;
}

ul.lista_incluye li a {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size:8pt;
    color: #000000;
    font-family:arial;
    text-decoration:none;
}

.celda_tabla_tfa {
	width:100px;
	border:1px solid #aaa;
	margin-top: 0;
	margin-bottom: 0;
	float: left;
}

.celda_tabla_h_tfa_1 {
	width:150px;
	border:1px solid #aaa;
	margin-top: 0;
	margin-bottom: 0;
	float: left;
	background-color: #10689b;
	color: #fff;
	text-align: center;
}

.celda_tabla_h_tfa_2 {
	width:100px;
	border:1px solid #aaa;
	margin-top: 0;
	margin-bottom: 0;
	float: left;
	background-color: #fff;
	color: #ff3300;
	font-weight: bold;
	text-align: center;
}

.celda_tabla_h_tfa_3 {
	width:150px;
	border:1px solid #aaa;
	margin-top: 0;
	margin-bottom: 0;
	float: left;
	background-color: #fff;
	color: #10689b;
	font-weight: bold;
	text-align: center;
}

.celda_tabla_iti {
	width:150px;
	border:1px solid #aaa;
	margin-top: 0;
	margin-bottom: 0;
	float: left;
}

.centered {
	text-align: center;
}

.celda_tabla_h_iti {
	width:150px;
	border:1px solid #aaa;
	margin-top: 0;
	margin-bottom: 0;
	float: left;
	background-color: #10689b;
	color: #fff;
	text-align: center;
}

.clear {
	clear: both;
}

.celda {
	width: 20px;
	margin-left: 0;
}

.column_header {
	background-color: #10689b;
	color: #fff;
	font-weight: bold;
}

#footer { color: #C5C5C5; font-size: 13px; padding-top: 15px; }
#footer ul { list-style-type: none; }
#footer ul li { margin: 0; padding-left: 10px; }
#footer .title { font-weight: bold; font-size: 16px; color: #EAEAEA; padding-left: 0; border-bottom: 1px solid #666; }
#footer .title span { border-bottom: 1px solid #EAEAEA; margin-bottom: -1px; padding-right: 25px; display: inline-block; }
#footer label { display: inline; font-size: 13px; }
#copy { margin-top: 0; font-size: 12px; text-align: center; color:#000; }
#snail img { width: 150px; }

/*
* ESTILO PARA LOS TABS DE COTIZACIONES
*/

.tab-cot { border: 1px solid #f1f1f1; background-color: #ffffff; padding:10px; cursor:pointer; }
.tab-crrnt { border: 1px solid #f1f1f1; background-color: #f1f1f1; padding:10px; cursor:pointer; }
.tab-pax { border: 1px solid #E1E1E1; background-color: #FFFFFF; padding:10px; cursor:pointer; }
.tab-crrnt-pax { border: 1px solid #E1E1E1; background-color: #E1E1E1; padding:10px; cursor:pointer; }

/*
* ESTILO PARA INPUTS
*/

.input_edit { margin: 0px; width: 50px; }

.mylink { font-size:10pt; cursor:pointer; padding:5px; margin-left: 10px; }
.mylink:hover { color: #FF3300; }

.mylinkright { font-size:10pt; cursor:pointer; padding:5px; float:right; margin-left: 10px; }
.mylinkright:hover , .mylinkleft:hover { color: #FF3300; }
.mylinkleft { font-size:10pt; cursor:pointer; padding:5px; float:left; }

/*
* TABLAS
*/
.encabezado_tarifa_hotel { background-color:#10689B; color:#FFFFFF; border:1px solid #AAAAAA; }
.encabezado_tarifa_hotel strong { color: #FFFFFF; }
.encabezado_tarifa_hotel td { padding: 2px; }
.table_hotel { border:1px solid #AAAAAA; }

.tabla-simple td { border:1px solid #AAAAAA; }
.tabla-simple th { border:1px solid #AAAAAA; }

/*td { border: 1px solid #AAAAAA; border-right: 1px solid #AAAAAA; padding-left:5px; padding-right:5px; }
.sin-borde td { border:0; }
.sin-borde td table td { border: 1px solid #AAAAAA; border-right: 1px solid #AAAAAA; padding-left:5px; padding-right:5px; }*/
.con-borde td{ border: 1px solid #AAAAAA; padding-left:5px; padding-right:5px; }
.con-borde th{ border: 1px solid #AAAAAA; padding-left:5px; padding-right:5px; }

.tabla-precios td{ border: 1px solid #AAAAAA; padding-left:5px; padding-right:5px; }
.tabla-precios th{ border: 1px solid #AAAAAA; padding-left:5px; padding-right:5px; }
.tabla-precios tr:hover { background-color: #D8DFFB; }
.tabla-precios tr:nth-child(odd) { background-color: #E8EDFF; }
.tabla-precios tr:nth-child(odd):hover { background-color: #D8DFFB; }


.tabla-resumen td{ border: 1px solid #AAAAAA; padding:8px; font-size: 8pt; line-height: 1;}
.tabla-resumen th{ border: 1px solid #AAAAAA; padding:8px; background-color:#10689b; color:#FFFFFF;}
.tabla-resumen-print th{ border: 1px solid #AAAAAA; padding:8px; color:#10689b; background-color:#F1F1F1; font-weight: 900;}
.gray { background-color: #cffcdf; }
.white { background-color: #FFFFFF; }
.tabla-resumen tr:hover { background-color: #D8DFFB; }
.subtitle { line-height:1 !important; padding: 2px !important; font-size: 8pt;}
.subtitle2 { line-height:1 !important; padding-top: 2px !important; padding-bottom: 2px !important; padding-left: 5px !important; padding-right: 5px !important; font-size: 8pt;}

.mytextarea { min-height: 30px; margin:0; height:30px;}
.mytext-precio { width:40px; display:inline; margin:0;}
.mytext-info { width:100px; display:inline; margin:0;}


.tr_move:hover{color:#000000;background-color:#f0f0f0;}

/*
* BTN CIUDAD DE ORIGEN
*/
.btn_c_o,.btn_vista
{
  font-size: 14px !important;
  padding: 10px !important;
}
.btn_c_o:hover,.btn_vista:hover
{
  font-size: 14px !important;
  background-color: #FF3300 !important;
  color: #FFFFFF !important;
}

/*
* DIV PARA EDITAR LAS VISTAS
*/
.vista_de_precios
{
	position		: fixed;
	border 			: 1px solid #AAAAAA;
	width 			: 150px;
	background-color: #F1F1F1;
	margin-left 	: 10px;
	font-family 	: Arial, Helvetica, sans-serif;
	font-size 		: 9px;
	color 			: #444;
	padding 		: 5px;
}
.vista_paquete
{
	top 			: 120px;
	position 		: fixed;
	border 			: 1px solid #AAAAAA;
	width 			: 150px;
	background-color: #F1F1F1;
	margin-left 	: 10px;
	font-family 	: Arial, Helvetica, sans-serif;
	font-size 		: 9px;
	color 			: #444;
	padding 		: 5px;
}
.vista_pagina
{
	top 			: 50px;
	position 		: fixed;
	border 			: 1px solid #AAAAAA;
	width 			: 150px;
	background-color: #F1F1F1;
	right 			: 10px;
	font-family 	: Arial, Helvetica, sans-serif;
	font-size 		: 16px;
	color 			: #444;
	padding 		: 5px;
	float 			: right;
	font-weight 	: bold;
	text-align 		: center;
	color 			: #10689b;
}
.vista_botones
{
	top 			: 200px;
	position 		: fixed;
	border 			: 1px solid #AAAAAA;
	width 			: 150px;
	background-color: #F1F1F1;
	right 			: 10px;
	font-family 	: Arial, Helvetica, sans-serif;
	color 			: #444;
	padding 		: 5px;
	float 			: right;
	text-align 		: center;
}
.vista_opciones_aereo
{
	top 			: 260px;
	position 		: fixed;
	border 			: 1px solid #AAAAAA;
	width 			: 150px;
	background-color: #F1F1F1;
	margin-left 	: 10px;
	font-family 	: Arial, Helvetica, sans-serif;
	font-size 		: 9px;
	color 			: #444;
	padding 		: 5px;
}

.left 	{ float: left; width: 16px; height: 16px; cursor:pointer;	}
.right 	{ float: right; width: 16px; height: 16px; cursor: pointer;	}
.hidden { display: none; }

.mini 	{ width: 12px; height: 12px; cursor:pointer; text-decoration:underline; }

.medium 	{ width: 16px; height: 16px; cursor:pointer; text-decoration:underline; }

.btn_reservar 	{ 	font-size:7pt !important; 
					font-weight: normal; 
					padding: 0px !important; 
					text-shadow: none !important;
					background-color: #00c154 !important;
					border: 1px solid #00c154 !important;
				}

/*
* TABLAS DE PRECIOS
*/

.twl_blue { font-size: 10pt; color: #10689b;}
.sright { text-align: right; }
.c_origen {  text-align:center; background-color: #f3dbdb;  }
.bgreen { background-color: #b7f3b7; }
.byellow { background-color: #f3f3b7; }
.bturkey { background-color: #cadfd8 !important; }
.strng { border: 2px solid #555; }
.mlin { line-height:1; }
.min-spc { margin: 5px !important; }
.cred { color:#DD0000; }