@import url('search_list.css');

#accomodation_home { background: url(../images/accommodation-bg.jpg); background-size: 100% auto; background-repeat: no-repeat; }
#accomodation {  }

#accomodation_search .form-group { margin-top: 20px; }
.habitacion_count { margin-top: 10px; font-style: italic; text-align: right; font-size: 0.9em; }
#advanced_options_link { cursor: pointer; }
#advanced_options { display: none; margin-top: 5px; }
#advanced_options legend { font-size: 16px; }

.recent-searchs h2 {  }
.recent-search { padding: 10px; cursor: pointer; }
.recent-search:hover { background-color: #f5f5f5; }
.recent-search h3 { margin-bottom: 0; }
.recent-search img { width: 100%; border-radius: 10px; }

#search_results img { width: 100%; }
#search_results h3 { display: inline-block; margin: 0; font-size: 18px; padding: 0; }
#search_results .hotel-category { white-space: nowrap; }

.bottom-info { position: absolute; bottom: 10px; }
.compare { }
.search_near_hotels { color: #37454d; cursor: pointer; }
.view-extra-rooms { text-align: right; }
.room-info { color: #888; }
.hotel-category { margin-top: 10px; white-space: nowrap; }

.extra-rooms { display: none; background-color: #fff; }
.view-extra-rooms { color: #37454d; cursor: pointer; }
.reserve_btn { border-radius: 5px; margin-top: 32px; }

#change-accommodation { display: none; }

#accommodation_show .wbox { padding: 10px 15px; }
#slider img { height: 296px; }
#slider-thumbs img { cursor: pointer; width: 100%; height: 68px; margin-top: 10px; }
#detail-left { border-right: 1px solid #EAEAEA; }
#accommodation_show h3 { color: #3399f3; }
#hotel-contact { margin: 30px 0; }
#hotel-contact .title { font-weight: bold; }
#googlemap { width: 100%; /*height: 360px;*/ }

#hotel .desc { color: #555; text-align: justify; padding: 20px 30px; font-size: 16px; }
#hotel #actions a:hover { color: #036d9f; text-decoration: none; }
#hotel h3 { margin: 5px 0; }
#hotel #extra { font-size: 16px; }
#hotel #extra h3 { color: #036d9f; }
#hotel #extra .title { font-size: 18px; color: #036d9f; }
#hotel #extra table .extra-fee { border-top: none; font-size: 80%; color: #999999; }

#compare-preview { display: none; position: fixed; bottom: 35px; right: 10px; padding: 15px 30px; background-color: #EAEAEA; border-radius: 5px; box-shadow: 0 0 15px #00214B }
#compare-preview .close { position: absolute; top: 3px; right: 3px; color: #555; opacity: 0.8; font-size: 18px }
.compare-item { width: 55px; height: 55px; float: left; margin-right: 15px;  }
.compare-item img { width: 55px; height: 55px; border: 1px solid #1393d0; }

.view_mode_menu span { font-size: 14px; }
.view_mode_menu .fa-stack { cursor: pointer; }
.view_mode_menu .active { color: #ff3300; }
.view_mode_menu .fa-stack:hover { color: #ff3300; }

#load-cotizacion { display: block; position: fixed; bottom: 35px; right: 503px; padding: 15px 30px; background-color: #EAEAEA; border-radius: 5px; box-shadow: 0 0 15px #00214B}
#load-cotizacion .close { position: absolute; top: 3px; right: 3px; color: #555; opacity: 0.8; font-size: 18px }
.div-mapa { background-color: rgb(141, 138, 138);color: white;position: absolute;border-radius: 5px;border-bottom-left-radius: 0px;border-top-right-radius: 0px;padding: 3px; }
#search-input { font-size: 15px; margin-top: 10px; font-weight: 300; text-overflow: ellipsis; width: 350px; }
#search-input:focus { border-color: #4d90fe; }
.pantalla_completa  {width:90%;height:95% }
/*.normal            {width: 900px;}*/
.highlight { background-color: rgb(255, 255, 154); }
.pac-container { z-index: 2000;}
#list_table { width: 100%; margin-bottom: 15px; }
#list_table th { text-align: left; }
#list_table td { text-align: left; padding: 5px; border-top: 1px solid #eaeaea; }
.div-print {bottom: 16px;}
.btn_success {
	padding: 10px;
	background: white;
	color: green;
	border: 2px solid green;
}
.btn_success:hover{
	padding: 10px;
	background: green;
	color: white;
	border: 2px solid white;
}
.name-hotel {
	height:150px;
	color:#37454d;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}
.box {
	display: inline-block;
	width: 200px;
	float: right;
}
#map-canvas {
  margin: 0;
  padding: 0;
  height: 400px;
  max-width: none;
}
#map-canvas img {
  /*max-width: none !important;*/
}
.gm-style-iw {
  width: 320px !important;
	height: auto;
  top: 15px !important;
  left: 0px !important;
  border: 1px solid #9e9b9b;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border-radius: 5px 5px 5px 5px;
}
#iw-container {
  margin-bottom: 10px;
}
#iw-container .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  /*padding: 10px;*/
  /*background-color: #48b5e9;*/
  color: white;
  margin: 0;
  border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	border-top: 1px solid #ddd;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin-right: 1px;
  padding: 10px 5px 3px 15px;
  max-height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
}
.iw-content img {
  float: right;
  margin: 0 5px 5px 10px;
}
.iw-subTitle {
  font-size: 16px;
}
.iw-bottom-gradient {
  position: absolute;
  width: 326px;
  height: 25px;
  bottom: 10px;
  right: 18px;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
.iw-price {
  font-size: 16px;
  white-space: nowrap;
}
@media print {
.hidden-print, .hidden, .invisible { display: none; }
}
@media (min-width: 450px) and (max-width: 759px) {
	.pantalla_completa  {width:95%!important;height:97%!important; }
	.div-print {bottom: 0px;}
}
/* ESTILOS DEL LOADING */
.timeline-item {
  border-radius: 15px;
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  padding: 12px;
  margin: 0 auto;
  max-width: 851px;
  min-height: 200px;
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    position: relative;
}
.background-masker {
  background: #fff;
  position: absolute;
}

/* Every thing below this is just positioning */
.background-masker {
  background: #fff;
  position: absolute;
}

/* Every thing below this is just positioning */
.background-masker.primero_blanco {
  top: 16px;
  left: 0px;
  right: 0;
  height: 10px;
}
.background-masker.primero {
  top: 0px;
  width: 280px;
  left: 467px;
  right: 0px;
  height: 16px;
}
.background-masker.segundo_blanco {
  top: 42px;
  left: 0px;
  right: 0;
  height: 10px;
}

.background-masker.tercer {
  top: 52px;
  width: 280px;
  left: 467px;
  right: 0px;
  height: 18px;
}
.background-masker.tercer {
  top: 79px;
  width: 280px;
  left: 328px;
  right: 0px;
  height: 17px;
}
.background-masker.tercer_blanco {
  top: 69px;
  left: 0px;
  right: 0;
  height: 10px;
}

.background-masker.cuarto_blanco {
  top: 96px;
  left: 0px;
  right: 0;
  height: 10px;
}

.background-masker.cuarto {
  top: 105px;
  width: 389px;
  left: 217px;
  right: 0px;
  height: 17px;
}

.background-masker.quinto_blanco {
  top: 122px;
  left: 0px;
  right: 0;
  height: 10px;
}

.background-masker.quinto {
  top: 131px;
  width: 180px;
  left: 426px;
  right: 0px;
  height: 17px;
}

.background-masker.sexto_blanco {
  top: 148px;
  left: 0px;
  right: 0;
  height: 10px;
}
.background-masker.sexto {
  top: 158px;
  width: 496px;
  left: 113px;
  right: 0px;
  height: 17px;
}
.btn-fil {
  width: 100%;
  color: white;
  font-size: 14px;
  height: 30px;
  font-weight: bold;
  border: 1px solid #ff3300;
  background: #fa721a;
  letter-spacing: 1px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.btn-fil:hover {
  background: #bd3514; 
}

#new_cotizacion {
  display: block;
  position: fixed;
  z-index: 1000;
  bottom: 35px;
  right: 503px;
  padding: 15px 30px;
  background-color: #EAEAEA;
  border-radius: 5px;
  box-shadow: 0 0 15px #00214B;
}

.btn-cot {
  font-weight: bold;
  background: white!important;
  color: #ff3300;
  border: 2px solid #ff3300!important;
  border-radius: 0px;
  padding: 3px 42px;
}

.btn-cot:hover {
  font-weight: bold;
  background: #ff3300!important;
  color: white;
  border: 2px solid #ff3300!important;
  border-radius: 0px;
  padding: 3px 42px;
}
/* FIN DEL ESTILO DE LOADING */

/*CheckBox Style*/
.container-check {
  display: block;
  position: relative;
  padding: 3px 0;
  padding-left: 24px;
  color: #0b0b0b;
  cursor: pointer;
  font-size: 12px;
  font-weight: initial;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*.container-check:hover {
  background-color: #bdd7e6;
}*/

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #92aabb;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: #4c6b7e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Fin CheckBox*/

.pageActive {
  padding: 12px 15px !important;
  color: #ff3300 !important;
  color: #ffffff!important;background-color: #ff3300 !important;
}
.pageNormal {
  padding: 12px 15px!important;color:#ff3300 !important;
}

.btn-not {
  color: #e7ae49!important;
  background: white;
  border-color: #e7ae49;
  padding: 5px 50px;
  font-weight: bold;
  border-radius: 0px;
}

.btn-not:hover{
  border-color: white;
  background: #e7ae49;
  color:white!important;
}

.flexContainer {
    display: flex!important;
}

.inputField {
  flex: 1!important;
  text-indent: 8px;
  height: 38px;
  width: 45px;
}

.inputField:focus { 
  border: 2px solid #657279!important;
}

.btn_search_hotel {
  border-radius: 0px;
  border-color: #4c6b7e;
  background-color: #4c6b7e!important;
  width: 42px;
  color: #fff;
}

.btn_compare_del {
    color: red;
    font-size: 20px;
    cursor: pointer;
    left: 45px;
    bottom: 64px;
    position: relative;
}

.call-action {
  background: #fff;
}

.call-action-boxed {
  padding: 30px 40px;
}

.btn-system {
  background-color: #fa721a;
}