.confirm_purchase { display: none; }
.secondary_pax { display: none; }

#shopping_cart_title { font-size: 21px; padding: 10px; }
#shopping_cart_title i { font-size: 25px; margin-right: 10px; }

.service { margin-top: 15px; padding-bottom: 10px; border-radius: 5px; background-color: #fff; }
.service-type { float: right; font-weight: bold; padding: 5px 30px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
.service-type-hotel { background-color: #D7615F; color: #fff; }
.service-type-ticket { background-color: #5f99d7; color: #fff; }
.service-info { margin-top: 10px; }
.service-title { color: #ff3300; font-size: 18px; }
.rooms-info { margin-top: 10px; font-size: 0.9em; }
.total-price { font-weight: bold; }
.total-price-amount { font-size: 1.2em; font-weight: bold; color: #ff3300; }
.remove-service { }
.box-header { font-size: 18px; border-bottom: 1px solid #e1e1e8; margin: 10px 0; }

#reservation_actions { margin-top: 40px; padding: 30px 15px; }
#purchase_total_amount { font-weight: bold; font-size: 18px; margin-bottom: 10px; }
#purchase_total_amount .amount { font-size: 24px; }
#empty_cart, #cancel_purchase { padding-top: 10px; }

#titular_reserva .hotel-title { color: #666; font-weight: bold; font-size: 16px; }

#services_suggestions { border-left: 1px solid #e1e1e8; margin-top: 15px; }
#services_suggestions .title { font-weight: bold; font-size: 16px; }
#services_suggestions img { width: 100%; }
.add_new_service { margin: 15px; padding: 20px 15px; background-color: #fff; }

.policy { margin-top: 10px; }
#actions a:hover { color: #036d9f; text-decoration: none; }

#shopping_cart_confirm { }
#shopping_cart_confirm #status { font-size: 18px; font-weight: bold; }

#agency_logo img { width: 100%; }

.box { background-color: #fff; border-radius: 5px; padding-top: 20px; padding-bottom: 20px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }

.voucher-item { margin-top: 20px; padding-top: 20px; padding-bottom: 20px; }
.voucher-ref { border-right: 1px solid #ccc; }
.voucher-ref-number { color: #036d9f; font-size: 50px; }
.googlemap { width: 100%; height: 250px; }

.service_book { margin-top: 20px; padding: 0 0 15px; }
.service_book .header { background-color: #ddd; }
.service_book .services { margin-top: 10px; }
.booking-resume { font-size: 1.3em; margin-bottom: 10px; }

.search_book_shortcut { padding: 15px; margin-top: 15px; cursor: pointer; border-radius: 5px; border: 1px solid #ddd; color: #ff3300; }
.search_book_shortcut:hover { background-color: #f5f5f5; }

.add_services { text-align: right; }
.add_services li { cursor: pointer; color: #3399f3; border-radius: 5px; border: 1px solid #ddd; padding: 5px 10px; background-color: #f5f5f5; display: inline; white-space: nowrap; }
.add_services li:hover { background-color: #ddd; }
.add_services li.title { color: #666; border: none; background-color: #fff; cursor: default; font-weight: bold; }

.add_service { padding: 10px; margin: 20px 0; border: 1px solid #ddd; border-radius: 5px; position: relative; }
.add_service .remove_service { color: #cd0200; font-size: 16px; cursor: pointer; position: absolute; top: 5px; right: 10px; z-index: 50; }
.add_service .remove_service:hover { color: #953b39; }
