@import url('../../../lib/css/font-awesome.min.css');
@import url('../../../lib/css/overwrite.css');
@import url('../../../lib/css/animate.css');

body { background-color: #E6E6E6; background: #fff;}

#header { background: #fff; padding: 5px 0; width: 100%; height: 156px; overflow: hidden; position: fixed; top: 0; left: 0; z-index: 9; -webkit-transition: height 0.3s; -moz-transition: height 0.3s; -ms-transition: height 0.3s; -o-transition: height 0.3s; transition: height 0.3s; }
#top_header { height: 55px; -webkit-transition: height 0.3s; -moz-transition: height 0.3s; -ms-transition: height 0.3s; -o-transition: height 0.3s; transition: height 0.3s; }
#header #notifications { margin-top: 0px; }
#header #header_shopping_cart { margin-top: 5px; }
#header #header_shopping_cart i { font-size: 120%; }
#agency_logo_header img { max-height: 80px; -webkit-transition: height 0.3s; -moz-transition: height 0.3s; -ms-transition: height 0.3s; -o-transition: height 0.3s; transition: height 0.3s; }

#menu { background: #3396d1; -webkit-transition: height 0.3s; -moz-transition: height 0.3s; -ms-transition: height 0.3s; -o-transition: height 0.3s; transition: height 0.3s; }
#menu ul { display: block; margin: 0; padding: 0; }
#menu ul li { display: inline-block; margin: 0; padding: 0; }
#menu ul .menu_logo { padding: 10px 15px; }
#menu a { display: block; padding: 10px 15px; color: #fff; border-bottom: 4px solid #3396d1; }
#menu a:hover { text-decoration: none; border-bottom: 4px solid #fff; }
#menu a i { border: 2px solid #ddd; border-radius: 50%; padding: 10px; color: #fff; }

#header.smaller { height: 80px; font-size: 12px; padding: 5px 0; }
#header.smaller #top_header { height: 40px; }
#header.smaller #agency_logo_header img { max-height: 34px; }
#header.smaller #menu { height: 35px; padding: 0; }
#header.smaller #menu ul .menu_logo { padding: 0 10px; }
#header.smaller #menu ul .menu_logo img { height: 20px; }
#header.smaller #menu a { padding: 0 10px; }
#header.smaller #menu a i { border: none; }

.content { padding: 30px 0; margin-top: 5px; }

footer { color: #fff; padding: 30px 0 0; background-color: #2f3339; font-size: 12px; }
footer a { color: #fff; }
footer a:hover { color: #fff; }
footer ul li { display: block; margin: 0; padding: 5px 20px; }
footer.brand { background-color: #22262c; color: #777; text-align: center;  }
footer.brand .logo { font-size: 26px; color: #ddd; margin-bottom: 20px; }

.rating-star { color: #3399f3; }

/**
 * Common tags
 */
.service-title { color: #3399f3; font-size: 18px; }
button { color: #ffffff; background-color: #ff3300; border-color: #3399f3; border-radius: 5px; }
.btn { border-radius: 8px; }
.btn-lg { border-radius: 8px; }
.border-bottom { border-bottom: 1px solid #e1e1e8; }
.link { color: #ff3300; cursor: pointer; display: inline-block; }
.link:hover { text-decoration: underline; }
.red { background-color: red; } /* debugging */
.big { font-size: 1.4em; }
.strong { font-weight: bold; }
.wbox { background-color: #fff; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }
.gbox { background-color: #f5f5f5; border-radius: 5px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
.rborder { border-right: 1px solid #e1e1e8; }

div#spinner { display: none; width: 200px; height: 100px; position: fixed; top: 50%; left: 50%; background: url(../images/ajax-loader.gif) no-repeat center #fff;
    text-align:center; padding: 15px; font:normal 16px Tahoma, Geneva, sans-serif; border: 1px solid #CCC; margin-left: -50px; margin-top: -50px; z-index: 1999; overflow: auto; }

.ui-datepicker { z-index: 9999 !important; }

select.form-control { padding: 8px 0 8px 3px; }

/*Jivo chat opacity*/
#jivo_top_wrap { opacity: 0.9; }

/**
 * Colors:
 * DarkBlue: #036d9f;
 * LightBlue: #1393d0;
 */
 .btnLoadingAction {
   padding: 5px;
   border-color: #ff3300;
   background-color: white;
   color: #ff3300;
   font-weight: bold;
}

.btnLoadingAction:hover {
  padding: 5px;
  border-color: white;
  background-color: #ff3300;
  color: white;
  font-weight: bold;
}
@media screen and (min-height: 334px), screen and (min-width: 334px) {
  #header {height: 50px;}
  /*.content{margin-top: 50px;}*/
  #menu a i {border: none;}
}

@media screen and (min-height: 940px), screen and (min-width: 800px) {
  #header {height: 150px;}
  /*.content{margin-top: 150px;}*/
  #menu a span {border: 2px solid #ddd;border-radius: 50%;padding: 10px;}
}

a { color: #ff3300;}
a:hover { color: #ff3300; }
.btn-info-css { background-color:#ff3300; border:1px solid #ff3300; color: white; }
.btn-info-css:hover { background-color:#ff3300; border:1px solid #ff3300; color: white; }
