
#search_form {  border-radius: 15px; padding: 20px; background: rgba(16, 57, 83, 0.75); margin-bottom: 50px; color: #fff; }
#search_form h2 { font-size: 21px; color: #fff; margin: 0; padding: 0; border-bottom: 1px solid #ccc; margin-bottom: 15px; }
#search_form #where label { font-weight: normal; font-size: 21px; color: #fff; }
#search_form #where input { font-size: 16px; padding: 10px; height: 50px; }
#search_form label { font-weight: normal; font-size: 16px; }
#search_form input { font-size: 16px; padding: 10px; height: 40px; }
#search_form input[type="checkbox"] { height: auto; }
#search_form hr { color: #ccc; }
#nights_count { font-size: 14px; margin-top: 38px; white-space: nowrap; padding-left: 0; }
#child_ages input { padding: 5px; margin-right: 5px; height: 30px; }

.item_avail { border-radius: 15px; margin-bottom: 30px; overflow: hidden; background-color: #ff3300; -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);border: 1px solid #ddd;  }
.item_avail .item_img { height: 200px; margin: 0; padding: 0; overflow: hidden; }
.item_avail .item_img img { min-width: 100%; height: 100%; width: auto; }
.item_avail .item_info { height: 200px; position: relative; background-color: #fff; }
.item_avail h3 { margin: 5px 0; font-size: 21px; }
.item_avail .desc { color: #888; margin-top: 10px; }
.item_avail .book { background-color: #fff; color: #ff3300; height: 200px; padding: 0; text-align: center; font-family: "Trebuchet MS", Helvetica, sans-serif; }
.item_avail .book .provider { height: 30px; padding-top: 10px; }
.item_avail .book .price { font-size: 26px; height: 120px; padding-top: 30px; }
.item_avail .book .price_decimal { font-size: 14px; }
.item_avail .book .currency { font-size: 18px; }
.item_avail .book .price_average { font-size: 14px; color: #444; }
.item_avail .book .price_average span { font-size: 13px; }
.item_avail .book .book-btn { height: 50px; background-color: #fa721a; }
.item_avail .book-btn button { border: none; background: none; color: #fff; width: 100%; height: 50px; font-size: 18px; }
.item_avail .book-btn button:hover { font-size: 21px; }

#resultbar { background-color: #fff; border-radius: 5px; padding: 10px 20px; margin-bottom: 20px; }
#resultbar .separator { padding: 5px; color: #ccc; }

#refine-search { background-color: #fff;opacity: 0.95; border-radius: 5px; margin-bottom: 20px; overflow: hidden; }
#refine-search .title { background-color: #918e8e; color: #fff; font-size: 18px; padding: 15px; margin-bottom: 15px; border-bottom: 1px solid #fff;}
#refine-search label { color: #0b0b0b; }
#filter-search { background-color: #fff;opacity: 0.95; border-radius: 5px; overflow: hidden; padding-bottom: 30px; }
#filter-search .title { background-color: #918e8e; color: #fff; font-size: 18px; padding: 15px;border-bottom: 1px solid #fff; }

.filter-item { background-color: #fff;opacity: 0.95; margin-top: 20px; }
.filter-item .legend { margin-bottom: 14px; color: #918e8e; font-size: 16px; cursor: pointer; padding-bottom: 3px; border-bottom: 1px solid #ddd; }
.filter-item .legend:hover { color: #5f5e5e;}
.filter-item .items { margin-left: 5px; }
.colapse-down { float: right; margin: 5px; }
.colapse-right { display: none; float: right; margin: 5px; }
