.confirm_purchase { display: none; }
.secondary_pax { display: none; }

#shopping_cart_title { font-size: 21px; padding: 10px; color: #ff3300;}
#shopping_cart_title i { font-size: 25px; margin-right: 10px; }

.service { border: 1px solid #918e8e;margin-top: 15px; padding-bottom: 10px; border-radius: 5px; background-color: #fff; }
.service-type { float: right; font-weight: bold; padding: 5px 30px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }
.service-type-hotel { background-color: #D7615F; color: #fff; }
.service-type-ticket { background-color: #5f99d7; color: #fff; }
.service-info { margin-top: 10px; }
.service-title { color: #ff3300; font-size: 18px; }
.rooms-info { margin-top: 10px; font-size: 0.9em; }
.total-price { font-weight: bold; }
.total-price-amount { font-size: 1.2em; font-weight: bold; color: #ff3300; }
.box-header { font-size: 18px; border-bottom: 1px solid #e1e1e8; margin: 10px 0; }

#reservation_actions { margin-top: 40px; padding: 30px 15px; }
#purchase_total_amount { font-weight: bold; font-size: 18px; margin-bottom: 10px; }
#purchase_total_amount .amount { font-size: 24px; }
#empty_cart, #cancel_purchase { padding-top: 10px; }

#titular_reserva .hotel-title { color: #666; font-weight: bold; font-size: 16px; }
#services_suggestions { border-left: 1px solid #e1e1e8; margin-top: 15px; }
#services_suggestions .title { font-weight: bold; font-size: 16px; }
#services_suggestions img { width: 100%; }
.add_new_service { margin: 15px; padding: 20px 15px; background-color: #fff; }

.policy { margin-top: 10px; }
#actions a:hover { color: #036d9f; text-decoration: none; }

#shopping_cart_confirm { }
#shopping_cart_confirm #status { font-size: 18px; font-weight: bold; }

.box { background-color: #fff; border-radius: 5px; padding-top: 20px; padding-bottom: 20px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }

.btn_Errors {
  width: 120px;
  padding: 5px;
  border-color: #fd5353;
  background-color: white;
  color: #fd5353;
  font-weight: bold;
  font-size: 16px;
}

.btn_Errors:hover{
  width: 120px;
  padding: 5px;
  border-color: white;
  background-color: #fd5353;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
