.top-bar {
  background-color: #333;
  border-bottom: 1px solid #f2f2f2;
}

.top-bar.color-bar {
  border-bottom: 0;
}

.top-bar.color-bar a {
  color: rgba(255,255,255,.6);
}

.top-bar.color-bar a:hover {
  color: rgba(255,255,255,1) !important;
}

.top-bar.color-bar ul.social-list li a i {
  border-left: 1px solid rgba(255,255,255,.1);
}

.top-bar.color-bar ul.social-list li:last-child a i {
  border-right: 1px solid rgba(255,255,255,.1);
}

.top-bar.color-bar .contact-details li a:before {
  color: rgba(255,255,255,.2);
}

ul.social-list li a.facebook:hover {
	background-color: #507CBE;
}

ul.social-list li a.twitter:hover {
	background-color: #63CDF1;
}

ul.social-list li a.google:hover {
	background-color: #F16261;
}

ul.social-list li a.dribbble:hover {
	background-color: #E46387;
}

ul.social-list li a.linkdin:hover {
	background-color: #90CADD;
}

ul.social-list li a.tumblr:hover {
	background-color: #4D7EA3;
}

ul.social-list li a.flickr:hover {
	background-color: #E474AF;
}

ul.social-list li a.instgram:hover {
	background-color: #4D4F54;
}

ul.social-list li a.vimeo:hover {
	background-color: #87D3E0;
}

ul.social-list li a.skype:hover {
	background-color: #36C4F3
}

.top-bar.dark-bar {
  background-color: #444;
  border-bottom: 0;
}

.top-bar.dark-bar a {
  color: rgba(255,255,255,.4);
}

.top-bar.dark-bar a:hover {
  color: rgba(255,255,255,1) !important;
}

.top-bar.dark-bar ul.social-list li a i {
  border-left: 1px solid rgba(255,255,255,.08);
}

.top-bar.dark-bar ul.social-list li:last-child a i {
  border-right: 1px solid rgba(255,255,255,.08);
}

.top-bar.dark-bar .contact-details li a:before {
  color: rgba(255,255,255,.2);
}

.top-bar a {
  color: #ccc;
}

.top-bar .contact-details li {
  display: inline-block;
}

.top-bar .contact-details li a:before {
  position: relative;
  content: "|";
  font-size: 13px;
  margin: 0 3px;
  top: -1px;
  color: #ddd;
}

.top-bar .contact-details li a:before {
  color: #aaa;
}

.top-bar .contact-details li:first-child a:before {
  display: none;
}

.top-bar .contact-details li a {
  font-size: 12px;
  display: block;
  line-height: 32px;
}

.contact-details li a:hover {
  text-decoration: none;
  color: #ff3300;
}

ul {
  margin-bottom: 0px;
}


ul.social-list {
    float: right;
    margin-right: 29px;
}

ul.social-list li {
    float: left;
    border-right: 1px solid white;
    border-left: 1px solid white;
    list-style: none;
}

ul.social-list li a {
  padding: 7px 10px 5px 10px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.social-list li a:hover {
  color: #fff;
  text-decoration: none;
}

ul.social-list li a.user:hover {
  background-color: #FF3300;
}

.navbar {
  margin-bottom: 0;
  background: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 3px 8px #c5b9b982;
  border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.navbar-brand {
  position: relative;
  padding: 10px 0;
  margin: 0!important;
  transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav {
  margin-right: 60px!important;
  position: relative;
  transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.navbar-default .navbar-nav > li {
    margin-left: 6px;
}

.navbar-default .navbar-nav > li:first-child {
    margin-left: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #333;
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 28px 15px 28px 15px;
  overflow: hidden;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li:hover > a {
  border-bottom: 2px solid;
}

.navbar-default .navbar-nav > li > a i {
  margin: 0 -2px 0 -5px;
}

.navbar-default .navbar-nav > li > a:after {
  position: absolute;
  bottom: 0;
  content: '';
  left: 50%;
  display: block;
  height: 5px;
  width: 5px;
  opacity: 0;
  margin: 0 0 -3px -2px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
}

.navbar-default .navbar-nav > li > a.active:after {
  opacity: 1;
}

.navbar-default .navbar-nav .dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 180px;
  background-color: #fff;
    visibility: hidden;
    z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-nav > li.drop:hover .dropdown {
  visibility: visible;
  opacity: 1;
}

.dropdown li, .sup-dropdown li {
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.dropdown li:first-child, .sup-dropdown li:first-child {
    border-top: none;
}

.dropdown li a, .sup-dropdown li a {
    display: block;
    color: #aaa;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    padding: 9px 14px;
    text-decoration: none;
    text-transform: capitalize;
    transition: padding 0.2s ease-in-out;
    -moz-transition: padding 0.2s ease-in-out;
    -webkit-transition: padding 0.2s ease-in-out;
    -o-transition: padding 0.2s ease-in-out;
}


.dropdown > li:hover > a, .sup-dropdown li:hover > a {
  /*padding-left: 18px;*/
  background-color: #fe3d0c;
  color: white;
  cursor: pointer;
}

.dropdown li a i {
  margin: 0 0 0 -4px;
}

.navbar-default .navbar-nav .sup-dropdown {
    position: absolute;
    left: 100%;
    top: 0;
    width: 180px;
    padding-left: 0px;
  background-color: #fff;
    margin-top: 10px;
    transition: margin-top 0.2s ease-in-out;
    -moz-transition: margin-top 0.2s ease-in-out;
    -webkit-transition: margin-top 0.2s ease-in-out;
    -o-transition: margin-top 0.2s ease-in-out;
    visibility: hidden;
    z-index: 3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-nav li.drop .dropdown li:hover .sup-dropdown {
    visibility: visible;
    margin-top: 0;
}

.search-side {
  position: relative;
  float: right;
  top: 19px;
  right: -15px;
  transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.show-search {
  position: relative;
  display: block;
  float: right;
}

.show-search i {
  font-size: 1.2em !important;
  display: block;
  color: #aaa;
  width: 36px;
  height: 36px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
  line-height: 36px;
  text-align: center;
  background-color: #f2f2f2;
  transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.show-search:hover i {
  color: #888;
}

.navbar .search-form {
  position: absolute;
  right: 0;
  z-index: 20;
  float: right;
  display: none;
  top: 40px;
}

.navbar .search-form:before {
  background-color: #ccc;
  top: -2px;
  content: '';
  display: block;
  height: 4px;
  width: 4px;
  z-index: 20;
  right: 15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
}

.navbar .search-form form input {
  border: 2px solid #ccc;
  border-radius: 3px;
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
  padding: 5px 14px;
  z-index: 22;
  color: #9d9d9d;
  box-shadow: none;
  -o-box-shadow: none;
  -moz-box-shadow: none;
    -webkit-box-shadow: none;
  outline: none;
  box-shadow: none;
}

.navbar .search-form form {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
}

.navbar-nav>li>a:hover{
  color: #ff3300!important;
}

/*------------------------------------------*/
/*			 11 - Footer Styles
/*------------------------------------------*/

	footer {
		background-color: #222;
	    padding-top: 0px;
		border-top: 4px solid #555;
		color: #ccc;
	}

	footer p {
		color: #ccc;
	}

	footer a {
		color: #aaa;
	}

	footer a:hover {
		color: #aaa;
		text-decoration: underline;
	}

	.footer-widget {
	    margin-bottom: 15px;
	}

	.footer-widget h4 {
		color: #eee;
		text-transform: uppercase;
		padding-bottom: 8px;
		margin-bottom: 10px;
		font-size: 14px;
		font-weight: 700;
		position: relative;
	}

	.footer-widget h4 .head-line {
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 50px;
		height: 3px;
		background-color: #333;
		margin: 0;
	}

  ul.social-icons  {
    padding-left: 0px;
  }

	.social-widget ul.social-icons li {
		display: inline-block;
		margin-right: 4px;
		margin-bottom: 4px;
    padding: 0px;
	}

	.social-widget ul.social-icons li a i {
		font-size: 1.4em;
		width: 36px;
		height: 36px;
		color: #fff;
		line-height: 36px;
		text-align: center;
		display: block;
		border-radius: 2px;
		-webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    -o-border-radius: 2px;
		transition: all 0.2s ease-in-out;
	    -moz-transition: all 0.2s ease-in-out;
	    -webkit-transition: all 0.2s ease-in-out;
	    -o-transition: all 0.2s ease-in-out;
	}
	.social-widget ul.social-icons li a:hover {
		text-decoration: none;
	}

	.social-widget ul.social-icons li a.facebook:hover i {
		background-color: #507CBE;
	}

	.social-widget ul.social-icons li a.twitter:hover i {
		background-color: #63CDF1;
	}

	.social-widget ul.social-icons li a.google:hover i {
		background-color: #F16261;
	}

	.social-widget ul.social-icons li a.dribbble:hover i {
		background-color: #E46387;
	}

	.social-widget ul.social-icons li a.linkdin:hover i {
		background-color: #90CADD;
	}

	.social-widget ul.social-icons li a.tumblr:hover i {
		background-color: #4D7EA3;
	}

	.social-widget ul.social-icons li a.flickr:hover i {
		background-color: #E474AF;
	}

	.social-widget ul.social-icons li a.instgram:hover i {
		background-color: #4D4F54;
	}

	.social-widget ul.social-icons li a.vimeo:hover i {
		background-color: #87D3E0;
	}

	.social-widget ul.social-icons li a.skype:hover i {
		background-color: #36C4F3
	}

	.contact-widget {
		background: url(../images/map.png) center bottom no-repeat;
	}

	.contact-widget span {
		font-weight: 700;
	}

	.contact-widget ul li {
	    margin-bottom: 12px;
	}

	.contact-widget ul li p a {
	    color: #bbb;
	}

	.contact-widget p {
	    padding-bottom: 20px;
	}

	.twitter-widget ul li a {
		color: #888;
		margin-left: 15px;
	}

	.twitter-widget a:hover {
		text-decoration: underline;
	}

	.twitter-widget ul li {
	    margin-bottom: 5px;
	}

	.twitter-widget ul li span {
		color: #888;
	}

	.flickr-widget ul {
	    overflow: hidden;
	}

	.flickr-widget ul li {
	    float: left;
	    margin-left: 8px;
	    margin-bottom: 8px;
	}

	.flickr-widget ul li:nth-child(3n+1) {
	    margin-left: 0;
	}

	.flickr-widget ul li a {
	    display: inline-block;
		width: 80px;
		opacity: 0.6;
		border-radius: 2px;
		-webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    -o-border-radius: 2px;
		border: 4px solid #333;
	    transition: all 0.2s ease-in-out;
	    -moz-transition: all 0.2s ease-in-out;
	    -webkit-transition: all 0.2s ease-in-out;
	    -o-transition: all 0.2s ease-in-out;
	}

	.flickr-widget ul li a img {
	    width: 100%;
		height: 65px;
	}

	.flickr-widget ul li a:hover {
		opacity: 1;
	}

	.mail-subscribe-widget form {
	    margin-top: 15px;
	    margin-bottom: 20px;
	}

	.mail-subscribe-widget form input[type="text"] {
	    outline: none;
	    color: #888;
	    font-size: 12px;
	    padding: 6px 12px;
		border: none;
	    background: #fff;
	    border-radius: 2px;
	    -webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    -o-border-radius: 2px;
	    outline: none;
	}

	.copyright-section {
	    padding: 15px 0;
		font-size: 11px;
		letter-spacing: 0.5px;
	    border-top: 1px solid rgba(255,255,255,.06);
	}

	.copyright-section p {
		font-size: 11px;
		text-transform: uppercase;
	}

	ul.footer-nav {
	    float: right;
	}

	ul.footer-nav li {
	    display: inline-block;
	    float: left;
	    margin-left: 15px;
	}

	ul.footer-nav li:first-child {
	    margin-left: 0;
	}

	ul.footer-nav li a {
	    display: inline-block;
	    text-transform: uppercase;
	    text-decoration: none;
	    transition: all 0.2s ease-in-out;
	    -moz-transition: all 0.2s ease-in-out;
	    -webkit-transition: all 0.2s ease-in-out;
	    -o-transition: all 0.2s ease-in-out;
	}

	ul.footer-nav li a:hover {
		color: #fff;
	}

	.back-to-top {
	    display: none;
	    position: fixed;
	    bottom: 18px;
	    right: 15px;
	}

	.back-to-top i {
	    display: block;
	    width: 36px;
	    height: 36px;
	    line-height: 36px;
	    color: #fff;
	    border-radius: 2px;
		-webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    -o-border-radius: 2px;
	    text-align: center;
	    background-color: #444;
	    transition: all 0.2s ease-in-out;
	    -moz-transition: all 0.2s ease-in-out;
	    -webkit-transition: all 0.2s ease-in-out;
	    -o-transition: all 0.2s ease-in-out;
	}

  .dropdown li{
    list-style: none;
  }

  .drop-hover:hover ul {
    display: block;
    cursor: pointer;
  }

  .navbar-default .navbar-nav .dropdown {
    position: absolute;
    padding-left: 0px;
    left: 0;
    top: 100%;
    width: 180px;
    background-color: #fff;
    visibility: hidden;
    z-index: 2;
    opacity: 0;
  }

  navbar-default .navbar-nav .sup-dropdown {
    position: absolute;
    left: 100%;
    top: 0;
    width: 180px;
    background-color: #fff;
    margin-top: 10px;
    transition: margin-top 0.2s ease-in-out;
    -moz-transition: margin-top 0.2s ease-in-out;
    -webkit-transition: margin-top 0.2s ease-in-out;
    -o-transition: margin-top 0.2s ease-in-out;
    visibility: hidden;
    z-index: 3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  .drop-new {
    position: absolute;
    left: 15px;
    top: 100%;
    width: 180px;
    background-color: #fff;
    visibility: hidden;
    z-index: 2;
    opacity: 0;
  }
  .navbar-nav li a i{
		margin-right: 10px!important;
		font-size: 16px;
	}

	.navbar-nav li a {
		font-weight: bold!important;
	}
	.navbar-nav li a.blocked:hover {
		font-weight: bold!important;
		border-bottom: 1px solid #7b7979!important;
	}

	.blocked {
		cursor: not-allowed;
		font-weight: bold!important;
		color: #7b7979!important;
		opacity: .65;
	}

	.blocked:hover {
		color: #7b7979!important;
		border-bottom: 1px solid #7b7979;
	}
@media screen and (min-width:1200px){

}

@media screen and (max-width:1186px){
  #content {
    margin-top: 52px;
  }
  .container {
    width: 100%;
    padding: 0px
  }
  .navbar-header {
    padding-left: 50px;
  }
  .navbar-brand, .navbar-brand img {
      height: 40px !important;
  }
}

@media screen and (max-width:986px){
  ul.social-list {
    float: none !important;
    text-align: center;
  }
  .contact-details {
    display: none!important;
  }
  ul.social-list li {
    float: none !important;
    border-left: none;
    border-right: none;
    display: inline-block;
  }
  #content {
    margin-top: 52px;
  }
  .container {
    width: 100%;
    padding: 0px
  }
  .navbar-header {
    padding-left: 50px;
  }
  .navbar-brand, .navbar-brand img {
      height: 40px !important;
  }
}
@media screen and (max-width:766px){
  #content {
    margin-top: 0px;
  }

  ul.social-list {
    float: none !important;
    text-align: center;
  }
  .contact-details {
    display: none!important;
  }
  .navbar-brand, .navbar-brand img {
      height: 40px !important;
  }
  .navbar-default .navbar-toggle i {
      color: #bbb;
      font-size: 2em;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: white;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    z-index: 1;
  }
  ul.social-list li {
    float: none !important;
    border-left: none;
    border-right: none;
    display: inline-block;
  }
}
