@import url('search_list.css');

#hotelIn { display: none; }
#terminalOut { display: none; }

.transfer_avail { border-radius: 15px; margin-bottom: 30px; overflow: hidden; background-color: white; -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); }
.transfer_avail .transfer_info { background-color: #fff; }
.transfer_avail h3 { margin: 5px 0; color: #3399f3; }
.transfer_avail .desc { color: #888; margin-top: 10px; }
.transfer_avail .book { background-color: white; color: #ff3300; height: 200px; padding: 0; text-align: center; font-family: "Trebuchet MS", Helvetica, sans-serif; }
.transfer_avail .book .provider { height: 30px; padding-top: 10px; }
.transfer_avail .book .price { font-size: 26px; height: 120px; padding-top: 30px; }
.transfer_avail .book .price_decimal { font-size: 14px; }
.transfer_avail .book .currency { font-size: 18px; }
.transfer_avail .book .book-btn { height: 50px; background-color: #ff3300; }
.transfer_avail .book-btn button { border: none; background: none; color: #fff; width: 100%; height: 50px; font-size: 18px; }
.transfer_avail .book-btn button:hover { font-size: 21px; }
.title_transfer h3 {
  color :black!important;
}
